body{


    color: rgb(240, 234, 234);
    background-color: rgb(8, 46, 48);
    text-align: center;
    font-family: "COMIC";
    font-size: 25px;
    margin: 0;
    padding: 0;
}

#container{
    width: 100;
    padding: 0cm;
    text-align: left;
    border: 1px solid orange;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#cabecera{
    background: rgb(13, 69, 102);
    font-weight: bold;
    margin: 0;
    padding: 0.ex;
}

#cabecera #tagline{
    padding: 0 0 0 lem;
    font-weight: bold;
    margin: 0;
    font-size: 0.cm;
}
#imgAstro{
    height: 800px;
    width: 1200px;
}