body{

    color: grey;
    text-align: center;
    font-family: "Arial";
    font-size: 25px;
    margin: 0;
    padding: 0;
}

#container{
    width: 700;
    padding: 1cm;
    text-align: left;
    border: 1px solid olivedrab;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#cabecera{
    background: violet;
    box-shadow: 0px 2px 20px 8px lightblue ;
    color: lightcyan;
    font-weight: bold;
    margin: 0;
    padding: 0.ex;
}

#cabecera #tagline{
    padding: 0 0 0 lem;
    font-weight: bold;
    margin: 0;
    font-size: 0.cm;
}